<div class="card">
    <div class="card-body">
        <h1>Información innecesaria</h1>
        <p>
            Aquí no hay datos, ni nada, solo una pérdida de tiempo, tanto para el que lo lee como para el que lo escribe,
            dejo esta página aquí por que queda bonito en el nav, no le he encontrado otro uso la vdd, en fin pase usted
            buena tarde :D.
        </p>
    </div>
</div>