<div class="card mt-4">
    <h1 class="display-3">App con Nodejs y Mongodb</h1>
    <p class="lead">
        Bienvenido la web de adopción de mascotas más estilista.
    </p>
    <hr class="my-4">
    <p class="lead">
        Aquí encontrarás un montón de posibles mascotas que podrás lucir en tu día a día, encontrarás algunas 
        bastante peculiares, recomendamos precaución en todo momento, podrás ver el estado de tu mascota en tiempo
        real y podrás darla de vuelta sin problemas, pero se pondrá mu triste ten cuidado :0.
    </p>
    <hr>
    <p class="lead">
        En esta app se ha usado: express, express-session, 
        express-handlebars, method-override, 
        connect-flash, passport, bcryptjs, mongoose, passport-local.
    </p>
    <a href="/pets" class="btn btn-primary">Mascotas</a>
</div>